@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
html {
  --color-black: #141619;
  --color-grey: #687684;
  --color-blue: #0648D7;
  --color-light-grey: #B6BDC4;
  --color-background: #F8F8F9;
}

body {
  background: var(--color-background);

}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, textarea {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}